################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/Code/WindowsDev/XamarinMemeGenerator/packages
/Code/WindowsDev/XamarinMemeGenerator/XamarinMemeGenerator/XamarinMemeGenerator/bin/Debug
/Code/WindowsDev/XamarinMemeGenerator/XamarinMemeGenerator/XamarinMemeGenerator/obj/Debug
/Code/WindowsDev/XamarinMemeGenerator/XamarinMemeGenerator/XamarinMemeGenerator.Droid/bin/Debug
/Code/WindowsDev/XamarinMemeGenerator/XamarinMemeGenerator/XamarinMemeGenerator.Droid/obj/Debug
/Code/WindowsDev/XamarinMemeGenerator/XamarinMemeGenerator/XamarinMemeGenerator.iOS/obj/iPhone/Debug
/Code/WindowsDev/XamarinMemeGenerator/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/bin
/Code/WindowsDev/XamarinMemeGenerator/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/obj
*.user
/Code/WindowsDev/XamarinMemeGenerator/XamarinMemeGenerator/XamarinMemeGenerator.Droid/Resources/Resource.designer.cs
/Code/WindowsDev/XamarinMemeGenerator (with iOS)/packages
/Code/WindowsDev/XamarinMemeGenerator (with iOS)/XamarinMemeGenerator/XamarinMemeGenerator/bin/Debug
/Code/WindowsDev/XamarinMemeGenerator (with iOS)/XamarinMemeGenerator/XamarinMemeGenerator/obj/Debug
/Code/WindowsDev/XamarinMemeGenerator (with iOS)/XamarinMemeGenerator/XamarinMemeGenerator.Droid/bin/Debug
/Code/WindowsDev/XamarinMemeGenerator (with iOS)/XamarinMemeGenerator/XamarinMemeGenerator.Droid/obj/Debug
/Code/WindowsDev/XamarinMemeGenerator (with iOS)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/bin/Debug
/Code/WindowsDev/XamarinMemeGenerator (with iOS)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/obj
/Code/WindowsDev/XamarinMemeGenerator (Workshop)/packages
/Code/WindowsDev/XamarinMemeGenerator (Workshop)/XamarinMemeGenerator/XamarinMemeGenerator/bin/Debug
/Code/WindowsDev/XamarinMemeGenerator (Workshop)/XamarinMemeGenerator/XamarinMemeGenerator/obj/Debug
/Code/WindowsDev/XamarinMemeGenerator (Workshop)/XamarinMemeGenerator/XamarinMemeGenerator.Droid/bin/Debug
/Code/WindowsDev/XamarinMemeGenerator (Workshop)/XamarinMemeGenerator/XamarinMemeGenerator.Droid/obj/Debug
/Code/WindowsDev/XamarinMemeGenerator (Workshop)/XamarinMemeGenerator/XamarinMemeGenerator.Droid/Resources/Resource.designer.cs
/Code/WindowsDev/XamarinMemeGenerator (Workshop)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/bin
/Code/WindowsDev/XamarinMemeGenerator (Workshop)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/obj
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.Droid/obj/Debug/__library_projects__/System.Runtime.Serialization.Primitives.stamp
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.Droid/obj/Debug/android/bin/classes/xamarinmemegenerator/droid/TrialSplashScreen$1.class
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.Droid/obj/Debug/android/bin/classes/xamarinmemegenerator/droid/TrialSplashScreen.class
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.Droid/obj/Debug/android/src/md55ff5c58de4806d3bd8c141260c474579/MainActivity.java
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Code/WindowsDev/XamarinMemeGenerator (with iOS - older xamarin version)/XamarinMemeGenerator/XamarinMemeGenerator.WinPhone/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
